.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.greenBox {
  border-radius: 25px;
  background-color:rgba(160, 187, 116, 0.9);
  padding: 20px; 
  width: 100%;
  height: 100%;


}
.lightgreenBox {
  border-radius: 25px;
  background-color:rgba(216, 227, 193, 0.8);
  padding: 20px; 
  width: 100%;
  height: 100%; 
}
.coolheader { 
  font-family: 'Open Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgba(46, 85, 45, 0.973);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
 }